.contacts {
  padding-top: 140px;
  padding-bottom: 156px;

  @include media-max(768){
    padding-bottom: 450px;
  }

  @include media-max(520) {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      flex-direction: column-reverse;
    }
  }

  .contacts__left-box {
    position: relative;

    @include tablet {
      padding-top: 80px;
    }

    @include mobile {
      padding-top: 60px;
      text-align: center;
    }

    .contacts__text {
      margin-bottom: 20px;

      @include mobile {
        margin-bottom: 0;
      }
    }

    input {
      @include mobile {
        margin-top: 15px;
      }
    }

    .contacts__text {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  &__right-box {
    position: relative;
    max-width: 374px;
    width: 100%;

    &:after {
      content: '';
      position: absolute;
      background-image: url(../img/contacts/fishka-contact-mob2.png);
      background-repeat: no-repeat;
      width: 78px;
      height: 68px;
      bottom: -60px;
      right: -40px;
    }

    @include tablet {
      max-width: none;
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }

    .socials__block {
      position: relative;
      margin: 0 auto;

      @include mobile {
        &:before {
          content: '';
          position: absolute;
          background-image: url(../img/contacts/fishka-contact-mob1.png);
          background-repeat: no-repeat;
          width: 45px;
          height: 53px;
          bottom: -30px;
          left: -90px;
        }
      }

      @include media-max(450) {
        &:before {
          content: '';
          position: absolute;
          background-image: url(../img/contacts/fishka-contact-mob1.png);
          background-repeat: no-repeat;
          width: 45px;
          height: 53px;
          bottom: -30px;
          left: -70px;
        }
      }
    }

    .contacts__text {

      @include mobile {
        font-size: 16px;
        padding: 0 45px;
      }
    }
  }

  &__title {
    font-size: 50px;
    line-height: 60px;
    color: $color-white2;
    padding-bottom: 25px;

    @include tablet {
      padding-bottom: 18px;
      margin-bottom: 0;
      font-size: 40px;
    }

    @include mobile {
      font-size: 30px;
      padding-bottom: 0;
    }
  }

  &__text {
    font-size: 18px;
    color: $color-gray-dark2;
    line-height: 28px;
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 0;
      font-size: 17px;
    }

    @include mobile {
      font-size: 16px;
    }
  }

  &__number {
    font-size: 22px;
    line-height: 15.28px;
    padding-top: 40px;

    @include tablet {
      padding-top: 25px;
      font-size: 21px;
    }

    @include mobile {
      font-size: 20px;
    }
  }

  &__email {
    font-size: 18px;
    line-height: 15.28px;
    padding-top: 17px;
    color: $color-white;

    @include tablet {
      font-size: 17px;
    }

    @include mobile {
      font-size: 16px;
      padding-top: 12px;
    }
  }

  &__street {
    font-size: 18px;
    line-height: 15.28px;
    padding-top: 20px;
    color: $color-white;
    padding-bottom: 60px;

    @include tablet {
      padding-top: 15px;
      padding-bottom: 35px;
      font-size: 17px;
    }

    @include mobile {
      font-size: 17px;
    }
  }

  &__input-wrap:not(:last-child) {
    margin-bottom: 20px;
  }

  &__form {
    height: 508px !important;
    box-shadow: 0 17px 54px rgba(0, 0, 0, 0.17), inset 0 -1px 0 rgba(255, 255, 255, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.05), inset 1px 0 0 rgba(255, 255, 255, 0.05), inset -1px 0 0 rgba(255, 255, 255, 0.05), inset 0 0 16px rgba(255, 250, 227, 0.05);
    background-color: #010409;
    position: relative;

    @include media-max(1200) {
      max-width: 540px;
    }

    @include tablet {
      max-width: 630px;
    }

    @include mobile {
      height: auto !important;
    }

    &--inner {
      max-width: 462px;
      width: 100%;
      margin: 0 auto;
      margin-top: -50px;

      @include mobile {
        margin-top: 0;
      }
    }
  }

  .contacts__left-box:before {
    content: '';
    position: absolute;
    background-image: url(../img/fishka2.png);
    width: 143px;
    height: 120px;
    background-repeat: no-repeat;
    z-index: 1;
    bottom: -40px;
    right: -40px;

    @include mobile {
      display: none;
    }
  }

  .contacts__left-box:after {
    content: '';
    position: absolute;
    background-image: url(../img/fishka4.png);
    width: 83px;
    height: 105px;
    background-repeat: no-repeat;
    z-index: 1;
    top: -80px;
    left: 25px;

    @include tablet {
      top: 20px;
    }

    @include mobile {
      display: none;
    }
  }


  .btn__text--request::after {
    display: none;
  }

  .action-block.contacts__form {

    @include mobile {
      border: none;
      box-shadow: none;
      background: transparent;
      border-radius: 0;
      padding: 0;
      width: auto;
    }
  }

  .btn--primary {
    @include mobile {
      width: 320px;
      height: 90px;
    }
  }
}

.custom-field {
  width: 100%;
  position: relative;

  &__input {
    display: block;
    width: 100%;
    height: 46px;
    font-size: 16px;
    text-align: left;
    padding: 12px 36px;
    color: #a7a5a5;
    font-weight: 300;
    border-bottom: 1px solid #414952;
    transition: all .2s;
    outline: none;

    &:focus {
      color: #fff;
    }
  }

  &--input-tel:before {
    background-image: url("#{$images-path--root}call-mini.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 15px;
    height: 15px;
  }

  &--input-name:before {
    background-image: url("#{$images-path--root}user-mini.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 15px;
    height: 15px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 16px;
    height: 16px;
  }

  &--input-tel {
    margin-bottom: 35px;
  }
}

.big-bg--contact {
  background-image: url("img/big-bg--contact.png");
}

.contact__parallax-item1 {
  top: 200px;
  right: 10px;

  @include media-max(1300) {
    top: 200px;
    right: 20px;
    width: 10%;
  }

  @include mobile {
    display: none;
  }
}
