// COLORS
$color-primary: #6940f8;
$color-black: #000;
$color-black2: #090909;
$color-white: #fff;
$color-white2: #fcfcfc;
$color-gray-light: #949494;
$color-gray-light2: #636363;
$color-gray-dark: #828282;
$color-gray-dark2: #8a8a8a;

// Paths
$images-path--root: "../img/";

// Transitions
$transition-hover: all 0.25s ease;
