.accordion {
  $padding-horizontal: 60px;
  $transition-ms: 250ms;
  padding-top: 60px;

  max-width: 1110px;
  margin: 0 auto;

  @include mobile {
    padding-top: 30px;
  }

  &__item {
    border-radius: 10px;
    overflow: hidden;
    margin: 0 0 0 0;
  }

  &__btn {
    width: 100%;
    height: 84px;
    border-radius: 10px;
    padding: 0 5px;
    justify-content: space-between;
    border-top: 1px solid #eaeaea;
    display: flex;
    align-items: center;


    &[aria-expanded='true'] {
      .accordion__icon {
        transform: rotate(45deg);
      }

      + .accordion__collapse {
        opacity: 1;
        max-height: 500px;
        transition: all $transition-ms linear;
      }


    }
  }

  &__title {
    font-weight: 400;
    font-size: 25px;
    color: #0a0a0a;
    line-height: 60px;

    @include tablet {
      font-size: 23px;
      line-height: 28px;
    }

    @include mobile {
      font-size: 20px;
      max-width: 272px;
    }
  }

  &-text {
    color: #8c8c8c;

    @include mobile {
      font-size: 15px;
    }
  }

  &__icon {
    position: relative;
    width: 26px;
    height: 26px;
    display: inline-block;
    transition: all $transition-ms linear;

    @include mobile {
      width: 23px;
      height: 23px;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      transition: all $transition-ms linear;
    }

    &:before {
      @include absolute-v-center;
      height: 3px;
      width: 100%;
      background: $color-primary;
      border-radius: 2px;
    }

    &:after {
      @include absolute-h-center;
      height: 100%;
      width: 3px;
      background: $color-primary;
      border-radius: 2px;
    }
  }

  &__collapse {
    width: 100%;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity $transition-ms linear, max-height $transition-ms linear;


    &--collapsing {
      height: 0;
      overflow: hidden;
      transition: height $transition-ms ease;
    }
  }

  &__body {
    padding: 10px 5px 35px 5px;
    text-align: left;

    @include mobile {
      padding: 10px 5px 20px 5px;
    }
  }
}
