.business {
  padding-top: 230px;
  padding-bottom: 130px;
  position: relative;


  @include media-max(720) {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  &__parallax-item1 {
    top: 0;
    left: -310px;
  }

  &__inner {
    max-width: 518px;
    text-align: left;
    width: 100%;

    @include tablet {
      text-align: center;
      margin: 0 auto;
    }
  }

  &__title {
    color: #fcfcfc;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -1px;

    @include tablet {
      font-size: 40px;
      line-height: 35px;
    }

    @include mobile {
      font-size: 30px;
    }
  }

  &__text {
    color: #8a8a8a;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 50px;
    padding-top: 15px;

    @include mobile {
      font-size: 16px;
      line-height: 23px;

      @include media-max(520) {
        padding-bottom: 40px;
      }
    }
  }
}
