<section class="about">
  <div class="container">
    <div class="about__block">
      <h2 class="section-title about__title">О платформе <span class="color-primary">BetLine</span></h2>
      <div class="about__text">
        BetLine - это платформа нового поколения, которая позволит запустить Ваш игорный бизнес в
        кратчайшие сроки
        и полностью под ключ. Наши решения привлекают пользователей 24/7 своим уникальным и инновационным функционалом.
        Казино и букмекерские конторы - это
        одни из самых прибыльных решений.
      </div>
    </div>
      <div class="about-ruka-mob"></div>
  </div>
</section>
