<section class="advantages advantages--about-page advantages--casino-page">
  <div class="container">
    <div class="advantages__inner">
      <div class="advantages__block">
        <h2 class="section-title advantages__title advantages__title--about-page">
          <span class="color-primary">Что вы получите </span> при подключении
          онлайн-казино?
        </h2>
        <div class="advantages-list">
          <div class="advantage-item">
            <img class="advantage-item__icon" src="img/advantages/card.png" alt="">
            <div class="advantage-item__title">100+ игровых столов</div>
            <div class="advantage-item__text">Онлайн-казино будет включать в себя огромное количество игровых столов:
              рулетка, покер, блэк-джек и многое другое.
            </div>
          </div>
          <div class="advantage-item">
            <img class="advantage-item__icon" src="img/advantages/computer.png" alt="">
            <div class="advantage-item__title">Лицензирование</div>
            <div class="advantage-item__text">Вы получите готовое решение онлайн-казино, которое включает в себя все
              необходимые лицензии.
            </div>
          </div>
          <div class="advantage-item">
            <img class="advantage-item__icon" src="img/advantages/headphones.png" alt="">
            <div class="advantage-item__title">Обновление игр</div>
            <div class="advantage-item__text">В онлайн-казино будут постоянно появляться новые игры, что позволит
              удержать игроков и не дать заскучать им.
            </div>
          </div>
          <div class="advantage-item">
            <img class="advantage-item__icon" src="img/advantages/time.png" alt="">
            <div class="advantage-item__title">Для любых устройств</div>
            <div class="advantage-item__text">Пользователи могут заходить в онлайн-казино с любых устройств, платформа
              адаптирована под десктоп, планшет и мобильную версию.
            </div>
          </div>
          <div class="advantage-item">
            <img class="advantage-item__icon" src="img/advantages/send.png" alt="">
            <div class="advantage-item__title">Быстрый запуск</div>
            <div class="advantage-item__text">С платформой BetLine уже через 7 дней вы начнете получать первый заработок
              с собственного онлайн-казино.
            </div>
          </div>
          <div class="advantage-item">
            <img class="advantage-item__icon" src="img/advantages/line-chart.png" alt="">
            <div class="advantage-item__title">Способы оплаты</div>
            <div class="advantage-item__text">В онлайн-казино подключено более 50 способов оплаты. Пользователь может
              выбрать любой удобный для него.
            </div>
          </div>
        </div>
      </div>
      <div class="parallax js-parallax-invert advantages__parallax-item3">
        <img src="img/3_cards.png" data-depth="0.3" alt="">
      </div>
    </div>
  </div>
</section>
