<section class="advantages">
  <div class="container">
    <div class="advantages__inner">
      <div class="advantages__block">
        <h2 class="section-title advantages__title">
          <span class="color-primary">Платформа BetLine</span> имеет массу преимуществ:
        </h2>
        <div class="advantages-list">
          <div class="advantage-item">
            <img class="advantage-item__icon" src="img/advantages/card.png" alt="">
            <div class="advantage-item__title">50+ способов оплаты</div>
            <div class="advantage-item__text">Платформа имеет более 50 способов оплаты. Это позволит не ограничивать
              пользователя в выборе и использовать любой удобный для него способ.
            </div>
          </div>
          <div class="advantage-item">
            <img class="advantage-item__icon" src="img/advantages/computer.png" alt="">
            <div class="advantage-item__title">Понятный интерфейс</div>
            <div class="advantage-item__text">Интерфейс нашей платформы удобен для пользователей, это проверено уже со
              временем. Над платформой проводилось много тестирований.
            </div>
          </div>
          <div class="advantage-item">
            <img class="advantage-item__icon" src="img/advantages/time.png" alt="">
            <div class="advantage-item__title">Работа в реальном времени</div>
            <div class="advantage-item__text">На платформе все данные постоянно обновляются автоматически. Пользователю
              не придется каждый обновлять страницу, чтобы увидеть актуальные коэффициенты.
            </div>
          </div>
          <div class="advantage-item">
            <img class="advantage-item__icon" src="img/advantages/send.png" alt="">
            <div class="advantage-item__title">Быстрый запуск</div>
            <div class="advantage-item__text">Платформа предлагает уже готовое и рабочее решение. Вам не придется искать
              разработчиков и продумывать платформу с нуля. Вы запустите свой игорный бизнес уже через 7дней.
            </div>
          </div>
          <div class="advantage-item">
            <img class="advantage-item__icon" src="img/advantages/headphones.png" alt="">
            <div class="advantage-item__title">Служба поддержки</div>
            <div class="advantage-item__text">Если у вас возникнут вопросы после запуска платформы, служба поддержки
              всегда поможет решить вашу проблему. Мы будем с вами на связи 24/7.
            </div>
          </div>
          <div class="advantage-item">
            <img class="advantage-item__icon" src="img/advantages/line-chart.png" alt="">
            <div class="advantage-item__title">Прибыльный бизнес</div>
            <div class="advantage-item__text">Игорный бизнес это действительно прибыльное дело, которое приносит высокие
              доходы уже в кратчайшие сроки. Не сомневайтесь запустить платформу уже сейчас.
            </div>
          </div>
        </div>
      </div>
      <div class="parallax advantages__parallax-item1">
        <img src="img/advantages/parallax1.png" data-depth="0.6" alt="">
      </div>
      <div class="parallax js-parallax-invert advantages__parallax-item2">
        <img src="img/advantages/parallax2.png" data-depth="0.3" alt="">
      </div>
      <div class="decor advantages__decor1">
        <img src="img/advantages/decor1.png" alt="">
      </div>
    </div>
  </div>
</section>
