<section class="business">
  <div class="container">
    <div class="business__inner">
      <div class="business__title">
        Начните игорный <br>
        <span class="color-primary">бизнес уже сейчас!</span>
      </div>
      <div class="business__text">
        Оставьте заявку, если у вас остались вопросы или вы хотите
        запустить игорный бизнес уже сейчас. Мы свяжемся
        с вами в ближайшее время.
      </div>
      <button class="btn btn--primary btn--primary btn--business js-open-modal" data-modal="example-modal">
        <span class="btn__text btn__text--request">Оставить заявку</span>
      </button>
    </div>
  </div>
  <div class="parallax business__parallax-item1">
    <img src="img/parallax/2_fishki--2.png" data-depth="0.4" alt="">
  </div>
  <div class="business-mob margin-top-mobile"></div>
</section>
