<footer class="footer">
  <div class="container">
  <div class="footer__inner">
    <div class="footer__block">
    <img src="img/logo.png" alt="">
    <div class="footer__sub-text footer__sub-text-pc">
      © ООО "BetLine.pro”
    </div>
    </div>
    <div class="footer__block">
      <a class="footer__links" href="about.html">О компании </a>
      <a class="footer__links" href="bookmaker-page.html">Букмекерская контора</a>
      <a class="footer__links" href="casino.html">Онлайн-казино</a>
    </div>
    <div class="footer__block">
      <a class="footer__links" href="portfolio.html">Портфолио</a>
      <a class="footer__links" href="contact.html">Контакты</a>
      <div class="footer__sub-text footer__sub-text-mob">
        © ООО "BetLine.pro”
      </div>
    </div>
    <div class="footer__block footer__contact">
      <a class="tel-link footer__tel" href="tel:79994999929">
        +7 (999) <span class="color-primary">499-99-29</span>
      </a>
      <button class="callback-btn">
        <span class="callback-btn__text js-open-modal" data-modal="example-modal">Заказать звонок</span>
      </button>
    </div>
  </div>
  </div>
</footer>
