<section class="form-main">
  <div class="container">
    <div class="form-main--inner">
      <div class="form-main--block-top">
        <img class="form-main--advantages-img" src="img/advantages/cards.png" alt="">
        <div class="form-main--block-content">
          <h2 class="section-title form-main--title">
            Выберите то,<br>
            что вас интересует <br>
            <span class="color-primary"> и оставьте заявку</span>
          </h2>
          <div class="form-main--text">
            В ближайшее время мы свяжемся с Вами и проконсультируем
          </div>
        </div>
      </div>
      <form class="advantages__form" action="">
        <div class="advantages__form--inner">
          <div class="advantages__form--block">
            <fieldset id="select-product">
            <h2 class="advantages__form--title">Выберите продукт:</h2>
            <div class="advantages__form--radio-wrapper">
              <div class="advantages__form--radio-item">
                <input type="radio" id="select-product1" name="radio-group" checked>
                <label class="advantages__form--text" for="select-product1">Букмекеркая контора. Спорт</label>
              </div>
              <div class="advantages__form--radio-item">
                <input type="radio" id="select-product2" name="radio-group">
                <label class="advantages__form--text" for="select-product2">Игры</label>
              </div>
              <div class="advantages__form--radio-item">
                <input type="radio" id="select-product3" name="radio-group">
                <label class="advantages__form--text" for="select-product3">Букмекеркая контора. Киберспорт</label>
              </div>
              <div class="advantages__form--radio-item">
                <input type="radio" id="select-product4" name="radio-group">
                <label class="advantages__form--text" for="select-product4">Слот игры</label>
              </div>
              <div class="advantages__form--radio-item">
                <input type="radio" id="select-product5" name="radio-group">
                <label class="advantages__form--text" for="select-product5">Онлайн-казино</label>
              </div>>
            </div>
            </fieldset>
          </div>
          <div class="advantages__form--block">
            <fieldset id="select-service">
              <h2 class="advantages__form--title">Выберите необходимое обслуживание:</h2>
              <div class="advantages__form--radio-wrapper">
                <div class="advantages__form--radio-item">
                  <input type="radio" id="select-service1" name="radio-select" checked>
                  <label class="advantages__form--text" for="select-service1">Платежные решения</label>
                </div>
                <div class="advantages__form--radio-item">
                  <input type="radio" id="select-service2" name="radio-select">
                  <label class="advantages__form--text" for="select-service2">CMS</label>
                </div>
                <div class="advantages__form--radio-item">
                  <input type="radio" id="select-service3" name="radio-select">
                  <label class="advantages__form--text" for="select-service3">Бонусные программы</label>
                </div>
                <div class="advantages__form--radio-item">
                  <input type="radio" id="select-service4" name="radio-select">
                  <label class="advantages__form--text" for="select-service4">CRM </label>
                </div>
                <div class="advantages__form--radio-item">
                  <input type="radio" id="select-service5" name="radio-select">
                  <label class="advantages__form--text" for="select-service5">Служба поддержки</label>
                </div>
                <div class="advantages__form--radio-item">
                  <input type="radio" id="select-service6" name="radio-select">
                  <label class="advantages__form--text" for="select-service6">Партнерская программа</label>
                </div>
                <div class="advantages__form--radio-item">
                  <input type="radio" id="select-service7" name="radio-select">
                  <label class="advantages__form--text" for="select-service7">Бэк-офис</label>
                </div>
                <div class="advantages__form--radio-item">
                  <input type="radio" id="select-service8" name="radio-select">
                  <label class="advantages__form--text" for="select-service8">Агенская схема</label>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="advantages__form--block">
              <h2 class="advantages__form--title">Оставьте свои контакты:</h2>
            <div class="advantages__form--block--inner">
            <div class="advantages__form--block-mini">
              <div class="custom-field custom-field--input-name contacts-form__input-wrap">
                <input type="text" name="name" class="custom-field__input" placeholder="Введите Ваше имя">
              </div>
            </div>
            <div class="advantages__form--block-mini">
              <div class="custom-field custom-field--input-tel contact-form__input-wrap">
                <input type="tel" name="tel" class="custom-field__input" placeholder="Введите Ваш телефон">
              </div>
            </div>
              <button class="btn btn--primary btn--primary btn--request js-open-modal" data-modal="example-modal">
                <span class="btn__text btn__text--request">Оставить заявку</span>
              </button>
          </div>
        </div>
        </div>
      </form>
      <img class="form-main--advantages-img-mob" src="img/advantages/cards.png" alt="">
    </div>
  </div>
  <div class="parallax advantages-form__parallax-item1">
    <img src="img/advantages/2_fishki.png" data-depth="0.4" alt="">
  </div>
</section>
