<header class="header">
  <div class="container container--header">
    <div class="header__inner">
      <div class="header__nav">
        <button class="btn-default menu-btn" id="burger-menu">
          <span class="menu-btn__burger">
            <span class="menu-btn__burger-inner">
              <span class="menu-btn__burger-el"></span>
              <span class="menu-btn__burger-el"></span>
              <span class="menu-btn__burger-el"></span>
              <span class="menu-btn__burger-el"></span>
              <span class="menu-btn__burger-el"></span>
              <span class="menu-btn__burger-el"></span>
              <span class="menu-btn__burger-el"></span>
              <span class="menu-btn__burger-el"></span>
              <span class="menu-btn__burger-el"></span>
            </span>
          </span>
          <span class="menu-btn__text menu-btn__text-close">menu</span>
          <span class="menu-btn__text menu-btn__text-open">Close</span>
        </button>
        <span class="header__nav-separator"></span>
        <div class="socials header__socials">
          <span class="socials__text">social</span>
          <div class="socials__block">
            <div class="socials__list">
              <a class="socials__item" href="javascript:void(0)">
                <svg class="socials__icon socials__icon--twitter" width="20px" height="20px">
                  <use xlink:href="img/sprite.svg#twitter"></use>
                </svg>
              </a>
              <a class="socials__item" href="javascript:void(0)">
                <svg class="socials__icon socials__icon--fb">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
              <a class="socials__item" href="javascript:void(0)">
                <svg class="socials__icon socials__icon--vk">
                  <use xlink:href="img/sprite.svg#vk"></use>
                </svg>
              </a>
              <a class="socials__item" href="javascript:void(0)">
                <svg class="socials__icon socials__icon--inst">
                  <use xlink:href="img/sprite.svg#inst"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <a class="logo header__logo" href="index.html">
        <img class="header__logo-img" src="img/logo.png" alt="logo">
      </a>
      <div class="header__contact">
        <button class="callback-btn js-open-modal" data-modal="example-modal">
          <span class="callback-btn__text">Заказать звонок</span>
        </button>
        <a class="tel-link header__tel" href="javascript:void(0)">
          <span class="header__tel-pc">  +7 (999) <span class="color-primary">499-99-29</span></span>
          <button class="header__tel-mob js-open-modal" data-modal="example-modal">
            <img  src="img/call-mini.png" alt="">
          </button>

        </a>
      </div>
    </div>
  </div>
</header>
