<section class="hero">
  <div class="container">
    <div class="hero__inner  hero__inner-casino-page">
      <h1 class="section-title hero__title">
        Онлайн-казино
        <div class="parallax  hero__parallax-item--about-page  hero__parallax-item--casino-page">
          <img class="" src="img/parallax/dice.png" data-depth="0.6" alt="">
        </div>
      </h1>
      <div class="section-subtitle hero__text">
        BetLine - это платформа нового поколения, которая позволит запустить онлайн-казино в кратчайшие сроки и
        полностью под ключ. Казино включает в себя лучшие игры от популярных провайдеров, все необходимые лицензии и
        большое количество способов оплаты.
      </div>
      <div class="action-block hero__action-block hero__action-block--casino-page">
        <div class="action-block__text"><span class="color-gray">Начните свой игорный бизнес</span> прямо сейчас!</div>
        <button class="btn btn--primary btn--primary btn--request js-open-modal" data-modal="example-modal">
          <span class="btn__text btn__text--request">Оставить заявку</span>
        </button>
        <div class="parallax  hero__parallax-item--about-page  hero__parallax-item--casino-page-mob">
          <img class="" src="img/parallax/dice.png" data-depth="0.6" alt="">
        </div>
        <div class="parallax  hero__parallax-item--about-page  hero__parallax-item--casino-page-mob2">
          <img class="" src="img/fishka4.png" data-depth="0.6" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
