<section class="hero">
  <div class="container">
    <div class="hero__inner hero__inner--about-page">
      <h1 class="section-title hero__title">
        О платформе <span class="color-primary">BetLine</span>
        <div class="parallax  hero__parallax-item--about-page">
          <img class="" src="img/parallax/dice.png" data-depth="0.6" alt="">
        </div>
      </h1>
      <div class="section-subtitle hero__text">
        BetLine - это платформа нового поколения, которая позволит запустить Ваш игорный бизнес в кратчайшие сроки и
        полностью под ключ. Наши решения привлекают пользователей 24/7 своим уникальным и инновационным функционалом.
        Казино и букмекерские конторы - это одни из самых прибыльных решений.
      </div>
      <div class="action-block hero__action-block">
        <div class="action-block__text"><span class="color-gray">Начните свой игорный бизнес</span> прямо сейчас!</div>
        <button class="btn btn--primary btn--primary btn--request js-open-modal" data-modal="example-modal">
          <span class="btn__text btn__text--request">Оставить заявку</span>
        </button>
      </div>
    </div>
  </div>
</section>
