<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <h1 class="section-title hero__title">
        Платформа <span class="color-primary">нового поколения</span>
        <br class="visible-pc">
        для букмекерских контор и онлайн-казино
        <div class="parallax hero__parallax-item">
          <img class="" src="img/parallax/dice.png" data-depth="0.6" alt="">
        </div>
      </h1>
      <div class="section-subtitle">
        «BetLine» - это команда разработчиков геймблинговых платформ и букмекерских контор.
      </div>
      <div class="action-block hero__action-block">
        <div class="action-block__text"><span class="color-gray">Начните свой игорный бизнес</span> прямо сейчас!</div>
        <button class="btn btn--primary btn--primary btn--request js-open-modal" data-modal="example-modal">
          <span class="btn__text btn__text--request">Оставить заявку</span>
        </button>
      </div>
    </div>
  </div>
</section>
