<section class="hero">
  <div class="container">
    <div class="hero__inner hero__inner--about-page hero__inner--bookmaker-page">
      <h1 class="section-title hero__title">
        Букмекерская контора
      </h1>
      <div class="section-subtitle bookmaker__text">
        BetLine - это платформа нового поколения, которая позволит запустить букмекерскую контору в кратчайшие сроки и
        полностью под ключ. Букмекерская контора будет включать в себя самые ожидаемые матчи, все популярные виды спорта
        и чемпионаты. Пользователи такой букмекерской конторы будут активно делать различные ставки с большим выбором
        коэффициентов.
      </div>
      <div class="action-block hero__action-block">
        <div class="action-block__text"><span class="color-gray">Начните свой игорный бизнес</span> прямо сейчас!</div>
        <button class="btn btn--primary btn--primary btn--request js-open-modal" data-modal="example-modal">
          <span class="btn__text btn__text--request">Оставить заявку</span>
        </button>
      </div>
    </div>
  </div>
</section>
