<section class="maintenance">
  <h2 class="section-title maintenance__title">
    Обслуживание <span class="color-primary">от BetLine</span>
  </h2>
  <div class="maintenance__list">
    <div class="maintenance-card">
      <div class="maintenance-card__count">01</div>
      <div class="maintenance-card__title">Платежные решения</div>
      <div class="maintenance-card__text">Более 50 платежных решений</div>
    </div>
    <div class="maintenance-card">
      <div class="maintenance-card__count">02</div>
      <div class="maintenance-card__title">CMS</div>
      <div class="maintenance-card__text">Собственная система управления сайтом с большими возможностями от BetLine </div>
    </div>
    <div class="maintenance-card">
      <div class="maintenance-card__count">03</div>
      <div class="maintenance-card__title">Бонусные программы</div>
      <div class="maintenance-card__text">Бонусные программы разрабатываются на основе любых требований</div>
    </div>
    <div class="maintenance-card">
      <div class="maintenance-card__count">04</div>
      <div class="maintenance-card__title">CRM</div>
      <div class="maintenance-card__text">Собственная система управления взаимоотношениями с клиентами от BetLine</div>
    </div>
    <div class="maintenance-card">
      <div class="maintenance-card__count">05</div>
      <div class="maintenance-card__title">Служба поддержки</div>
      <div class="maintenance-card__text">Служба поддержки, которая всегда на связи в режиме 24/7</div>
    </div>
    <div class="maintenance-card">
      <div class="maintenance-card__count">06</div>
      <div class="maintenance-card__title">Партнерская программа</div>
      <div class="maintenance-card__text">Партнерская программа от BetLine поможет привлечь игроков со всего мира</div>
    </div>
    <div class="maintenance-card">
      <div class="maintenance-card__count">07</div>
      <div class="maintenance-card__title">Бэк-офис</div>
      <div class="maintenance-card__text">Интерфейс от BetLine позволит контролировать движение денежных средств без особых знаний</div>
    </div>
    <div class="maintenance-card">
      <div class="maintenance-card__count">08</div>
      <div class="maintenance-card__title">Агентская схема</div>
      <div class="maintenance-card__text">Гибкие настройки лимитов, процентов и комиссий</div>
    </div>
  </div>
</section>
<div class="maintenance-mob"></div>
