<section class="portfolio">
  <div class="container">
    <div class="portfolio__inner">
      <div class="portfolio__head">
        <div class="section-title portfolio__title">Портфолио</div>
        <div class="portfolio__subtitle">
          Посмотрите несколько наших работ. Компании, которые уже используют платформу BetLine.
        </div>
      </div>
      <div class="portfolio-slider">
        <div class="swiper">
          <div class="swiper-wrapper portfolio-slider__wrapper">
            <div class="swiper-slide portfolio-slider__slide portfolio-slide" style="background-image: url(img/portfolio/portfolio-slider-bg.png)">
              <div class="portfolio-slide__content">
                <div class="portfolio-slide__info">
                  <div class="portfolio-slide__title">«1XBET»</div>
                  <div class="portfolio-slide__text">Подключение букмекерской конторы</div>
                </div>
                <a class="portfolio-slide__link" href="javascript:void(0)"></a>
              </div>
            </div>
            <div class="swiper-slide portfolio-slider__slide portfolio-slide" style="background-image: url(img/portfolio/portfolio-slider-bg.png)">
              <div class="portfolio-slide__content">
                <div class="portfolio-slide__info">
                  <div class="portfolio-slide__title">«1XBET»</div>
                  <div class="portfolio-slide__text">Подключение букмекерской конторы</div>
                </div>
                <a class="portfolio-slide__link" href="javascript:void(0)"></a>
              </div>
            </div>
            <div class="swiper-slide portfolio-slider__slide portfolio-slide" style="background-image: url(img/portfolio/portfolio-slider-bg.png)">
              <div class="portfolio-slide__content">
                <div class="portfolio-slide__info">
                  <div class="portfolio-slide__title">«1XBET»</div>
                  <div class="portfolio-slide__text">Подключение букмекерской конторы</div>
                </div>
                <a class="portfolio-slide__link" href="javascript:void(0)"></a>
              </div>
            </div>
            <div class="swiper-slide portfolio-slider__slide portfolio-slide" style="background-image: url(img/portfolio/portfolio-slider-bg.png)">
              <div class="portfolio-slide__content">
                <div class="portfolio-slide__info">
                  <div class="portfolio-slide__title">«1XBET»</div>
                  <div class="portfolio-slide__text">Подключение букмекерской конторы</div>
                </div>
                <a class="portfolio-slide__link" href="javascript:void(0)"></a>
              </div>
            </div>
            <div class="swiper-slide portfolio-slider__slide portfolio-slide" style="background-image: url(img/portfolio/portfolio-slider-bg.png)">
              <div class="portfolio-slide__content">
                <div class="portfolio-slide__info">
                  <div class="portfolio-slide__title">«1XBET»</div>
                  <div class="portfolio-slide__text">Подключение букмекерской конторы</div>
                </div>
                <a class="portfolio-slide__link" href="javascript:void(0)"></a>
              </div>
            </div>
            <div class="swiper-slide portfolio-slider__slide portfolio-slide" style="background-image: url(img/portfolio/portfolio-slider-bg.png)">
              <div class="portfolio-slide__content">
                <div class="portfolio-slide__info">
                  <div class="portfolio-slide__title">«1XBET»</div>
                  <div class="portfolio-slide__text">Подключение букмекерской конторы</div>
                </div>
                <a class="portfolio-slide__link" href="javascript:void(0)"></a>
              </div>
            </div>
            <div class="swiper-slide portfolio-slider__slide portfolio-slide" style="background-image: url(img/portfolio/portfolio-slider-bg.png)">
              <div class="portfolio-slide__content">
                <div class="portfolio-slide__info">
                  <div class="portfolio-slide__title">«1XBET»</div>
                  <div class="portfolio-slide__text">Подключение букмекерской конторы</div>
                </div>
                <a class="portfolio-slide__link" href="javascript:void(0)"></a>
              </div>
            </div>
          </div>
        </div>
        <button class="portfolio-slider__btn portfolio-slider__btn--prev">
          <svg>
              <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
        <button class="portfolio-slider__btn portfolio-slider__btn--next">
          <svg>
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
      <button class="btn btn--primary btn--primary portfolio__btn-all">
        <span class="btn__text btn__text--request">Смотреть все работы</span>
      </button>
    </div>

    <div class="parallax portfolio__parallax-item1">
      <img src="img/portfolio/parallax1.png" data-depth="0.4" alt="">
    </div>
    <div class="parallax js-parallax-invert portfolio__parallax-item2">
      <img src="img/portfolio/parallax2.png" data-depth="0.3" alt="">
    </div>
  </div>
</section>
