<section class="price">
  <div class="container">
    <div class="price__wrap">
    <div class="business__inner price__inner">
      <div class="business__title">
        <span class="color-primary"> Стоимость</span> подключения
      </div>
      <div class="business__text">
        Подключение букмекерской конторы <span style="color: #fff">совершенно бесплатно!</span> Вы платите нам только 15% от ваших доходов с платформы.
        Такая система оплаты позволит вам подключить платформу уже сейчас, без каких-либо финансовых вложений. Чем
        раньше вы сделаете первый шаг к игорному бизнесу, тем быстрее вы начнете получать доходы с него.
      </div>
    </div>
    </div>
  </div>
  <div class="parallax bookmaker__parallax-item1">
    <img src="img/parallax/1_dollar.png" data-depth="0.4" alt="">
  </div>
  <div class="parallax js-parallax-invert bookmaker__parallax-item2">
    <img src="img/parallax/3_dollars.png" data-depth="0.3" alt="">
  </div>
  <div class="mobile-item--price-inner">
    <img class="mobile-item--price" src="img/mobile-item/balls-bookmaker.png" alt="">
  </div>
</section>
