<section class="services">
  <h2 class="section-title services__title">
    Что мы можем предложить
  </h2>
  <div class="services__list">
    <div class="service-item service-item--text-right service-item--1">
      <div class="service-item__title">
        Букмекерская
        контора. Киберспорт.
      </div>
      <div class="service-item__text">
        Ежедневно проходит более 500 киберспортивных событий. Ставки можно делать на таких
        популярных видеоиграх, как Dota2, Warcraft III, FIFA, Mortal Kombat и многое другое.
      </div>
    </div>
    <div class="service-item service-item--text-right service-item--2">
      <div class="service-item__title">
        Букмекерская
        контора. Спорт.
      </div>
      <div class="service-item__text">
        Букмекерская контора будет включать в себя самые ожидаемые матчи, все популярные виды спорта и чемпионаты.
      </div>
    </div>
    <div class="service-item service-item--text-left service-item--3">
      <div class="service-item__title">
        Слот игры
      </div>
      <div class="service-item__text">
        Более 1000 разнообразных игр с высоким качеством графики. Слот игры платформы BetLine не оставят равнодушными ваших пользователей.
      </div>
    </div>
    <div class="service-item service-item--text-left service-item--4">
      <div class="service-item__title">
        Онлайн-казино
      </div>
      <div class="service-item__text">
        Прибыльное онлайн-казино с более 1000 лицензированных игр. Более 20 популярных провайдеров и низкие начальные ставки.
      </div>
    </div>
    <div class="service-item service-item--text-left service-item--5">
      <div class="service-item__title">
        Игры
      </div>
      <div class="service-item__text">
        Более 1000 увлекательных игр, работающих на собственном программном обеспечении. Игры на любой вкус с высоким качеством графики.
      </div>
    </div>
  </div>
  <div class="parallax services__parallax-item">
    <img class="" src="img/services/parallax1.png" data-depth="0.6" alt="">
  </div>
</section>
<div class="price-mob"></div>
